body {
    font-family: 'Open Sans', sans-serif;
}


.body-wrap {
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}

.masthead {

    background-image: url("/assets/images/newsletterimg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
}

h1 {
    color: white;
    display: flex;
    flex-direction: row;
}

h1:before,
h1:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid white;
    margin: auto;
}

.red {

    color: #fe4240;
}

.date {
    background-color: #fe4240;
    color: white;
    width: 200px;
    float: right;
    margin-top: 150px;
    font-size: x-large;
}


.firstcontent h3 {
    width: 400px;
    background-color: #fe4240;
    color: white; 
    padding: 5px;
}


.secondcontent h3 {
    width: 400px;
    background-color: #fe4240;
    color: white;
    padding: 5px;
}

.secondcontent img{
width: 100px;
height: 130px;
margin-left: 40px;
}


.content-footer {
color:gray;
text-align: center;
}


.content-footer img {
    padding: 10px;

}